/*style couleur*/
:root {
  --couleur-fond: #0b162c;
  --couleur-surface: #1c2942;
  --couleur-accent: #3b556d;
  --couleur-bouton: #5fc2ba;
  --couleur-texte: #ffffff;
}

/*Style pour le corps de la page*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--couleur-fond);
  color: var(--couleur-texte);
  font-family: "Arial", sans-serif;
}

/*Style pour l'en-tête*/
header {
  background-color: var(--couleur-surface);
  padding: 20px;
  text-align: center;
}

header h1 {
  color: var(--couleur-texte);
  font-size: 3em;
}

/*Style pour les liens de navigation*/
.nav-links a {
  color: var(--couleur-texte);
  text-decoration: none;
  font-size: 1.2em;
}
.nav-bar {
  margin: 20px 30px;
  padding: 10px 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  justify-content: space-around;
  align-items: center;
}

/*Style pour les sections*/
section {
  max-width: 1200px;
  margin: 40px auto;
  padding: 40px 20px;
  background-color: var(--couleur-accent);
  border-radius: 15px;
}

/*Style pour les titres*/
h2 {
  color: var(--couleur-texte);
  margin-bottom: 20px;
}
h3 {
  color: var(--couleur-texte);
  margin-bottom: 10px;
}

/*Style pour les projets*/
.projet {
  background-color: var(--couleur-surface);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.769);
}
a {
  color: var(--couleur-texte);
  text-decoration: none;
}

/*Style pour les boutons*/
.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: var(--couleur-accent);
  border-radius: 5px;
  transition: background-color 0.3s;
}
.btn:hover {
  background-color: var(--couleur-bouton);
}

@media (max-width: 768px) {
  header h1 {
    font-size: 1.5em;
  }
  .nav-links {
    flex-direction: column;
  }
  section {
    margin: 20px 10px;
    padding: 20px 15px;
  }
}
